.text-primary {
    color: var(--app-dark);
}
.text-secondary {
    color: var(--app-blue);
}
.text-grey {
 color: var(--app-grey);
}
.text-white {
    color: var(--bg-white)
}

.text-header {
    /* font-weight:600 ; */
    /* font-size: larger; */
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
}
.text-subHeader {
    /* opacity: .5; */
    /* color: #a2a0a0; */
    /* font-weight: 500;
    font-size: large; */
    margin-top: 0;
    margin-bottom: 0;
    font-size: large;
    text-align: start;
}

.text-bolder{
    font-weight: bolder;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
}
.text-default {
    /* font-weight: 400; */
   margin-top: 0;
   margin-bottom: 0;
    vertical-align: middle;
    text-align: start;
}



@media only screen and (max-width: 1200px) {
    .text-default{
        font-size: smaller;
    }
    .text-bolder {
        font-size: large;
    }
    .text-subHeader {
        font-size: small;
    }
    .text-header {
        font-size: medium;
    }
 }